$port: '';

@if $port == '' or $port == '3000' {
    @mixin port {
        content: '3000';
    }
} @else {
    @mixin port {
        content: $port;
    }
}

@mixin routing { 
    @mixin ex {
        content: '';
    }
}

@mixin api {
    @mixin types {
        @mixin get {
            content: 'GET' // no matter
        }
        @mixin post {
            content: 'POST'
        }
        @mixin put {
            content: 'PUT'
        }
        @mixin delete {
            content: 'DELETE'
        }
    }
    @mixin value {
        content : '';
    }
}